@model CUCMarca.WebSite.Models.Exepcion


@{
    ViewBag.Title = "Excepciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!---Script for populate Table-->
<script src="~/Scripts/src/methods/PopolateTable.js"></script>
<script>
        $(document).ready(function () {

            cargarTabla("@ViewBag.url", "@ViewBag.user");

        });
</script>


<!---Script for dropwdown Motivos-->
<script src="~/Scripts/src/methods/ListarMotivos.js"></script>
<script>
        $(document).ready(function () {
            cargarcombo("@ViewBag.url");

        });

</script>

<!---Script for Enable FechaReposicion-->
<script src="~/Scripts/src/methods/IfReponeTiempo.js"></script>
<script>
    $(document).ready(function () {
        $("#FechaReposicion").prop("disabled", true);
        HabilitarFechaRepone();

    });

</script>

@*
    <script src="~/Scripts/src/methods/ValidaFechaExcepcion.js"></script>
    <script>
        $(document).ready(function () {
            validateFecha("@ViewBag.hora");


        });

    </script>

    <script src="~/Scripts/src/methods/ValidaFechaRepone.js"></script>
    <script>
        $(document).ready(function () {
            validateFecha();


        });

    </script>
*@
<button id="togbtn" class="fa fas fa-plus btn btn-primary btn-circle" style="float: right"></button>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">


                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Excepciones Pendientes</h1>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "Error durante el proceso de ingreso", new { @class = "text-danger" })
                                @Html.AntiForgeryToken()
                                <table class="table table-bordered table-responsive table-hover" id="tablaExepcion">
                                    <tr>
                                        <th>Fecha Excepción</th>
                                        <th>Repone Tiempo</th>
                                        <th>Fecha Reposición</th>
                                        <th>Observaciones</th>
                                        <th>Motivo</th>
                                        <th>Estado</th>

                                    </tr>

                                </table>
                                <hr>
                                <ul id="addexcep" style="visibility:collapse;">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Nueva Excepción</h1>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FechaExcepcion)
                                        @Html.EditorFor(x => x.FechaExcepcion, new { htmlAttributes = new { @type = "date", @class = "form-control form-control-user", @maxlenght = 20, @placeholder = "Fecha de Reposición" } })
                                        @Html.ValidationMessageFor(x => x.FechaExcepcion, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">

                                        @Html.LabelFor(x => x.ReponeTiempo)

                                        @Html.DropDownListFor(model => model.TipoRepone, Model.Values, new { @class = "form-control form-control-user" })
                                    </div>
                                    <div class="form-group">

                                        @Html.LabelFor(x => x.FechaReposicion)
                                        @Html.EditorFor(x => x.FechaReposicion, new { htmlAttributes = new { @type = "date", @class = "form-control form-control-user", @maxlenght = 20, @placeholder = "Fecha de Reposición" } })
                                        @Html.ValidationMessageFor(x => x.FechaReposicion, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Observaciones)
                                        @Html.TextAreaFor(x => x.Observaciones, new { @class = "form-control form-control-user", @maxlenght = 8000, @placeholder = "Observaciones..." })
                                        @Html.ValidationMessageFor(x => x.Observaciones, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.MotivoID)

                                        @Html.DropDownListFor(model => model.MotivoID, Model.Lista, new { @class = "form-control form-control-user" })
                                    </div>

                                    <input type="submit" value="Crear Excepción" class="btn btn-primary btn-user btn-block" />
                                </ul>
                            }
                            <hr>

                            <script>

                                $("#togbtn").click(function () {

                                    if ($("#addexcep").hasClass("toggled")) {
                                        $("#addexcep").removeClass("toggled");
                                        $("#addexcep").css("visibility", "visible");
                                    }
                                    else {
                                        $("#addexcep").addClass("toggled");
                                        $("#addexcep").css("visibility", "collapse");

                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>





